/*Header*********************************/

#menu {
    display: flex;
    align-items: center;
}

.line {
    width: 90%;
    height: 2px;
    background-color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;
}

.menu-feild {
    align-self: flex-start;
    color: black;
    font-size: 20px;
    font-weight: 500;
    height: 30px;
    width: 100%;
    display: flex;
    /*padding-left: 10px;*/
    align-items: center;
}

.menu-feild:hover {
    background-color: aliceblue;
}

#logo {
    height: 50%;
}

#dropmenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    list-style-type: none;
    position: fixed;
    box-shadow: 0 5px 10px gray;
    font-size: 15px;
    color: grey;
    top: 75px;
    right: 10vw;
    width: 200px;
    background-color: white;
    transform: scale(0, 0);
    transition: 0.5s;
}

#icon input:checked~div {
    transform: none;
}

.fa-bell {
    margin-right: 25px;
    color: darkgray;
    font-size: 30px;
}

.fa-bell:hover {
    color: gray;
}

#icon input {
    display: block;
    width: 45px;
    height: 45px;
    position: fixed;
    cursor: pointer;
    border-radius: 90px;
    opacity: 0;
    z-index: 4;
}

#icon {
    color: white;
    font-weight: 300;
    font-size: 30px;
    height: 45px;
    width: 45px;
    display: flex;
    background-color: orange;
    border-radius: 90px;
    align-items: center;
    justify-content: center;
}

header {
    animation: 0.5s ease-out 0s 1 slideInFromUp;
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: fixed;
    background-color: white;
    height: 75px;
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    top: 0px;
    z-index: 3;
    width: 100%;
    padding-right: 10vw;
    padding-left: 10vw;
}

@keyframes slideInFromUp {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

/*Body**********************************/

body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 20px;
}

.grid-container {
    display: grid;
    grid-template-rows: 15vw 5vw 10vw 10vw;
    grid-template-columns: 20vw 20vw 25vw 15vw;
    margin-top: 100px;
    grid-template-areas: "binary js php php" "binary js dotnet other" "qa js dotnet other" "qa java dotnet other";
    justify-content: center;
}

.container {
    overflow: hidden;
}

.container>.cover {
    grid-area: 1/1/2/2;
    justify-self: stretch;
}

.container>.info {
    grid-area: 1/1/2/2;
    justify-self: stretch;
}

.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
}

.info {
    background-color: white;
    font-size: 20px;
    color: black;
    padding: 10px;
    overflow: auto;
}
@media screen and (max-width: 950px) {
    .grid-container {
        grid-template-rows: 20vw 10vw 10vw;
        grid-template-columns: 40vw 25vw 15vw;
        grid-template-areas: "binary js other" "java php php" "qa dotnet dotnet";
    }  
    body{
        font-size: 10px;
    } 
}
/*Binary*************************************/

.binary {
    grid-area: binary;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.binary>.cover {
    font-size: 5em;
    color: white;
    background: #ffffff;
}

.binary:hover>.cover {
    opacity: 0;
    transform: rotate(0.5turn);
    transition: 0.5s;
    visibility: hidden;
}

.binary>.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

#join {
    width: 30%;
    height: 15%;
    border-radius: 5px;
    border: 0px;
    background-color: #5e8bc9;
    color: white;
    font-size: 1em;
}

#join:hover {
    background-color: #3868a9;
}

/*QA*************************************/

.qa {
    grid-area: qa;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.qa>.cover {
    font-size: 5em;
    color: white;
    background: #60bc84;
}

.qa:hover>.cover {
    transform: rotateY(180deg);
    opacity: 0;
    transition: 0.5s;
}

/*JS*************************************/

.js {
    grid-area: js;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.js>.cover {
    font-size: 4em;
    font-weight: bold;
    color: black;
    background: #f6ce83;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    padding-bottom: 20px;
    padding-right: 20px;
}

.js:hover>.cover {
    opacity: 0;
    transform: translate(-100%, -100%);
    transition: 0.5s;
}

/*JAVA******************************/

.java {
    grid-area: java;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.java>.cover {
    font-size: 3em;
    color: white;
    background: #dc3751;
}

.java:hover>.cover {
    transform: translate(0, -100%);
    transition: 0.5s;
}

/*PHP*******************************/

.php {
    grid-area: php;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.php>.cover {
    font-size: 5em;
    font-style: italic;
    color: black;
    background: #8894b9;
}

.php:hover>.cover {
    transform: scale(0, 0) translate(100%, 100%) rotate(3turn);
    transition: 0.5s;
}

/*dotnet****************************/

.dotnet {
    grid-area: dotnet;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.dotnet>.cover {
    font-size: 5em;
    color: white;
    background: #60286f;
}

.dotnet:hover>.cover {
    opacity: 0;
    transform: translate(100%, 100%);
    transition: 0.5s;
}

/*Second grid container*/

.second-grid-container {
    grid-area: other;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 1fr;
    overflow: hidden;
}

.second-grid-container>.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: stretch;
    font-size: 1.5em;
    color: white;
    z-index: 1;
    transition: all 0.5s;
}

.second-grid-container>.cover:hover {
    opacity: 0;
    transform: translate(100%, 0);
    transition: all 0.5s;
}

.second-grid-container>.info {
    background-color: white;
}

.events {
    grid-area: 1 / 1 / 2 / 2;
}

.blog {
    grid-area: 2 / 1 / 3 / 2;
}

.contacts {
    grid-area: 3 / 1 / 4 / 2;
}

.events.cover {
    background: #2e9cf1;
}

.blog.cover {
    background: #004798;
}

.blog.cover:hover {
    transform: translate(-100%, 0);
}

.contacts.cover {
    background: #002858;
}

.contacts.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*NOTIFICATIONS*********************/

#notificationList {
    width: 250px;
    z-index: 3;
    opacity: 0.5;
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
}

.notificationIcon {
    font-size: 1em;
    margin-right: 10px;
}

.success {
    background-color: green;
}

.error {
    background-color: red;
}

.notification {
    margin-top: 20px;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 15px;
    padding-bottom: 5px;
}

.title {
    font-weight: bolder;
}